.post-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

img {
  width: 300px;
}
